{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Misinformation</title>
        <link rel="stylesheet" href="{% static 'firstapp/style.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script type="text/javascript" src="{% static 'firstapp/script.js' %}"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
        
    </head>
    <body>
        <img id="background" src="{% static 'firstapp/images/back.png' %}">
        <div class="header">
            <div class="headerLeft"><a href="">Misinformation Engine</a></div>
            <div class="headerRight">
                <div class="headerLink"><a href="">Extension</a></div>
                <div class="headerLink"><a href="https://github.com/Ramon-W/misinformation">GitHub</a></div>
            </div>
        </div>
        <div class="center">
            <div class="declaration">Facts or Fiction?</div>
            <div class="description">Our engine classifies misinformation with 99.98% accuracy, providing powerful transparency to your scrollspace.</div>
            <div class="search">
                <textarea name="input" id="input-area" type = "text" placeholder="Type here..."></textarea>
                <button id="submit">Analyze</button>
            </div>
            <div id="output"></div>
        </div>
        <img class="main-image" src="{% static 'firstapp/images/work.svg' %}">
        <div class="footer"></div>
    </body>
    

</html>

<!-- https://codepen.io/theodore-q/pen/mJqVZo -->